{% extends 'base.html.twig' %}

{% block title %}Edit PackageCategory{% endblock %}

{% block body %}
    <h1>Edit Package Type</h1>

    {{ include('package_category/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
