{% extends 'base.html.twig' %}

{% block title %}Edit PackageCategory{% endblock %}

{% block body %}
    <h1>Edit Package Type</h1>

    {{ include('package_category/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="row">
        <a class="btn btn-secondary" href="{{ path('package_category_index') }}"><i class="fas fa-angle-left"></i> Back to list</a>
        {% if package_category.id != 0 %}
            {{ include('package_category/_delete_form.html.twig') }}
        {% endif %}
    </div>

{% endblock %}
